name: ubunturdp
on: 
  workflow_dispatch:
   inputs:
     auth:
        description: 'GRDP Authorization Code'
        required: true
        default: 'paste your code here'
  
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Creating User to Login
      run: |
         sudo useradd -m ash && sudo adduser ash sudo && echo 'ash:ash' | sudo chpasswd
     
    - name: Installing Desktop Environment (wait for 10 min)
      run: sudo apt update && sudo apt install expect ubuntu-desktop
    - name: Installing Google Chrome Headless
      run: |
        sudo useradd -m Ubuntu 
        sudo adduser Ubuntu sudo
        echo 'Ubuntu:1234' | sudo chpasswd
        sudo sed -i 's/\/bin\/sh/\/bin\/bash/g' /etc/passwd
        sudo apt-get update

        # instalar dependencias necesarias para chrome-remote-desktop
        sudo apt-get install -y \
            xserver-xorg-video-dummy \
            xbase-clients \
            python3-psutil \
            xfce4-terminal \
            xfce4 \
            desktop-base \
            xscreensaver \
            xvfb \
            nautilus \
            nano

        # instalar CRD
        wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
        sudo dpkg --install chrome-remote-desktop_current_amd64.deb || true

        # reparar dependencias
        sudo apt --yes --fix-broken install

        # configuraciones adicionales
        sudo bash -c 'echo "exec /etc/X11/Xsession /usr/bin/xfce4-session" > /etc/chrome-remote-desktop-session'
        sudo systemctl disable lightdm.service

        # instalar Google Chrome normal
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        sudo dpkg --install google-chrome-stable_current_amd64.deb || true
        sudo apt --yes --fix-broken install

        # herramientas extra
        sudo apt install python3-pip -y
        pip3 install nbformat gdown pika

        # instalar VSCode
        wget -O code.deb "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64"
        sudo dpkg --install code.deb || true
        sudo apt --yes --fix-broken install

        # instalar Node Version Manager
        wget https://raw.githubusercontent.com/creationix/nvm/master/install.sh
        bash install.sh
        source ~/.profile

        sudo adduser Ubuntu chrome-remote-desktop

    - name: generate script
      run: |
           touch setup.sh
           echo "${{ github.event.inputs.auth }}" >> "setup.sh"
           chmod 777 setup.sh
    - name: initialize GRDP
      run: |   
           expect -c '
           spawn ./setup.sh
           expect "Enter a PIN of at least six digits: "
           send "123456\r"
           expect "Enter the same PIN again: "
           send "123456\r"
           expect eof
           '
    - name: SSH tunnel over ngrok
      uses: joshlarsen/ssh-tunnel-action@v1.2

