name: ubunturdp

on:
  workflow_dispatch:
    inputs:
      auth:
        description: "GRDP Authorization Code"
        required: true
        default: "pega tu código aquí"

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

    - name: Crear usuario para login local
      run: |
        sudo useradd -m ash
        sudo adduser ash sudo
        echo 'ash:ash' | sudo chpasswd

    - name: Instalar escritorio base
      run: |
        sudo apt update
        sudo apt install -y ubuntu-desktop expect

    - name: Instalar Chrome Remote Desktop + Escritorio XFCE + herramientas
      run: |
        sudo useradd -m Ubuntu
        sudo adduser Ubuntu sudo
        echo 'Ubuntu:1234' | sudo chpasswd

        sudo sed -i 's/\/bin\/sh/\/bin\/bash/g' /etc/passwd
        sudo apt update

        sudo apt install -y \
          xserver-xorg-video-dummy \
          xbase-clients \
          python3-psutil \
          xfce4 xfce4-terminal \
          desktop-base \
          xscreensaver \
          xvfb \
          nautilus \
          nano

        wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
        sudo dpkg --install chrome-remote-desktop_current_amd64.deb || true
        sudo apt --yes --fix-broken install

        sudo bash -c 'echo "exec /etc/X11/Xsession /usr/bin/xfce4-session" > /etc/chrome-remote-desktop-session'
        sudo systemctl disable lightdm.service || true

        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        sudo dpkg --install google-chrome-stable_current_amd64.deb || true
        sudo apt --yes --fix-broken install

        sudo apt install python3-pip -y
        pip3 install nbformat gdown pika

        wget -O code.deb "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64"
        sudo dpkg --install code.deb || true
        sudo apt --yes --fix-broken install

        wget https://raw.githubusercontent.com/creationix/nvm/master/install.sh
        bash install.sh
        source ~/.profile

        sudo groupadd chrome-remote-desktop || true
        sudo adduser Ubuntu chrome-remote-desktop

    - name: Generar script de autorización
      run: |
        echo "/opt/google/chrome-remote-desktop/start-host \
        --code=\"${{ github.event.inputs.auth }}\" \
        --redirect-url=\"https://remotedesktop.google.com/_/oauthredirect\" \
        --name=$(hostname) \
        --user=Ubuntu \
        --display=:20" > setup.sh
         chmod +x setup.sh



    - name: Inicializar Chrome Remote Desktop (PIN 123456)
      run: |
        expect -c '
        spawn bash setup.sh
        expect "Enter a PIN of at least six digits: "
        send "123456\r"
        expect "Enter the same PIN again: "
        send "123456\r"
        expect eof
        '

    - name: Instalar ngrok v3
      run: |
        wget https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz -O ngrok.tgz
        tar -xvf ngrok.tgz
        sudo mv ngrok /usr/local/bin/
        sudo chmod +x /usr/local/bin/ngrok

    - name: Configurar ngrok authtoken
      run: |
        ngrok config add-authtoken "${{ secrets.NGROK_TOKEN }}"

    - name: Iniciar túnel TCP (SSH)
      run: |
        echo "Iniciando ngrok TCP tunnel en el puerto 22..."
        nohup ngrok tcp 22 >/dev/null 2>&1 &
        sleep 5
        echo "===== NGROK STATUS ====="
        curl -s http://127.0.0.1:4040/api/tunnels
